@import "_functions";
@import "_mixins";
@import "_variables";

.hero__banner__small {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, var(--wsSecondaryColor, gray) 30%, var(--wsPrimaryColor, gray) 30%);;

  .hero_banner-content {
    padding: 40px 0;
    position: relative;

    @include media-breakpoint-up(md) {
      padding: 80px 0;
    }

    .row {
      max-width: 80%
    }

    .chevron {
      position: absolute;
      top: -5px;
      height: calc(100% + 10px);
      right: -65px;

    @include media-breakpoint-up(sm) {
      right: 0;
    }

      svg {
        height: 100%;
        width: auto;
      }
    }

    .block-title {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 20px;
      color: var(--ylb-color-white, white);

      @include media-breakpoint-up(lg) {
        font-size: 64px;
        line-height: 70px;
        margin-bottom: 30px;
      }
    }

    .hero_banner-body {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
