@import "_functions";
@import "_mixins";
@import "_variables";

.hero__banner__standard {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  background: var(--wsSecondaryColor, #fff);

  @media (min-width: 992px) {
    min-height: 610px;
  }

  .chevron-half {
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 0;
    height: 250px;

    @include media-breakpoint-up('sm') {
      top: 15%;
      height: 400px;
    }
    @include media-breakpoint-up('md') {
      top: 0;
    }
    @include media-breakpoint-up('lg') {
      height: 610px;
    }

    svg {
      height: 100%;
      width: auto;
    }
  }

  .wrapper-content {
    margin-top: 370px;

    @include media-breakpoint-up('md') {
      margin-top: 0;
      background: none;
    }
  }

  .breadcrumb-container,
  .hero_banner-content {
    position: relative;
    z-index: 3;
  }

  .hero_banner-content {
    width: fit-content;
    padding: 20px;
    background-color: var(--ylb-color-white, white);
    border-radius: var(--wsBorderRadius, 20px);
    margin: 0 auto 20px;

    @include media-breakpoint-up('md') {
      max-width: 350px;
      margin-left: -40px;
      margin-bottom: 0;
    }

    @include media-breakpoint-up('lg') {
      max-width: 480px;
      padding: 40px;
    }

    .cta-wrapper {
      margin-top: 40px;

      @include media-breakpoint-only('md') {
        margin-top: 25px;
      }
    }

    .block-title {
      font-size: 40px;
      line-height: 44px;
      margin-bottom: 20px;
      @include media-breakpoint-up('lg') {
        font-size: 64px;
        line-height: 70px;
      }
    }

    .hero_banner-body {
      font-size: 20px;
      line-height: 30px;
    }
  }


  // Our darkened overlays.
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &.hero__gradient_vertical::before {
    opacity: .9;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50.45%, rgba(0, 0, 0, 0) 100%, #000000 100%);
    z-index: 2;
  }

  &.hero__gradient_horizontal::after {
    opacity: .5;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    z-index: 2;
  }

  .field--name-field-background-image img,
  .hero_banner--img {
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
  }

  // AUDIO CONTROLS
  .hero_banner--audio-controls {
    background-color: rgba(#ffffff, .5);

    i,
    svg {
      font-size: 24px;
      width: 24px;
      height: auto;

      @media (min-width: 992px) {
        font-size: 36px;
      }

      &[class*="fa-volume"] {
        max-width: 50px;
      }
    }

    // Hide our play button
    &.is-playing #hero_banner--btn-play {
      display: none;
    }

    // Hide our pause button
    &:not(.is-playing) #hero_banner--btn-pause {
      display: none;
    }

    // Hide our mute button
    &.is-muted #hero_banner--btn-mute {
      display: none;
    }

    // Hide our mute button
    &:not(.is-muted) #hero_banner--btn-unmute {
      display: none;
    }
  }

  // YouTube Video
  .hero_banner-video,
  .hero_banner-image {
    position: absolute;
    width: 100%;
    height: 420px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @include media-breakpoint-up('md') {
      height: 100%;
    }

    .field--name-field-background-image .contextual-region {
      position: static;
    }

    .hero_banner-video--youtube-player-wrapper {
      position: relative;
      overflow: hidden;
      width: 100vw;
      height: 100vh;
    }

    video,
    iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 100vh;
      transform: translate(-50%, -50%);

      @media (min-aspect-ratio: 16/9) {
        /* height = 100 * (9 / 16) = 56.25 */
        height: 56.25vw;
      }
      @media (max-aspect-ratio: 16/9) {
        /* width = 100 / (9 / 16) = 177.777777 */
        width: 177.78vh;
      }
    }
  }

  .hero-banner-preloader {
    width: 60px;
    height: 60px;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);

    svg {
      width: 60px;
      height: auto;
    }
  }
}
