@import "_functions";
@import "_mixins";
@import "_variables";

.hero__banner__frame {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  background: var(--wsPrimaryColor, #fff);

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
  @media (min-width: 992px) {
    min-height: 610px;
  }

  .banner-wrapper {
    display: contents;
  }

  .chevron {
    position: absolute;
    z-index: 2;
    top: -10%;
    left: 0;

    @include media-breakpoint-up('sm') {
      width: 400px;
    }
    @include media-breakpoint-up('md') {
      top: -10%;
      width: 450px;
    }
    @include media-breakpoint-up('lg') {
      top: -10%;
      width: 550px;
    }
    @include media-breakpoint-up('xl') {
      top: -35%;
      width: 855px;
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .wrapper-content {
    order: 1;
    flex: 1 1;
    display: flex;
    justify-content: flex-start;
    padding: 0 15px;

    @include media-breakpoint-up('md') {
      margin-top: 0;
      align-items: center;
      background: none;
    }
    @include media-breakpoint-down(sm) {
      max-width: 345px;
    }
  }

  .breadcrumb-container,
  .hero_banner-content {
    position: relative;
    z-index: 3;

  }

  .hero_banner-content {
    width: fit-content;
    max-width: 320px;

    @include media-breakpoint-up('lg') {
      max-width: 480px;
    }

    .cta-wrapper {
      margin-top: 40px;
    }

    .block-title {
      font-size: 40px;
      line-height: 44px;
      margin-bottom: 20px;
      color: var(--ylb-color-white, white);

      @include media-breakpoint-up('md') {
        font-size: 50px;
        line-height: 55px;
      }

      @include media-breakpoint-up('lg') {
        font-size: 64px;
        line-height: 70px;
      }
    }

    .hero_banner-body {
      font-size: 20px;
      line-height: 30px;
    }

    .btn {
      margin-bottom: 40px;
    }
  }


  // Our darkened overlays.
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &.hero__gradient_vertical::before {
    opacity: .9;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50.45%, rgba(0, 0, 0, 0) 100%, #000000 100%);
    z-index: 2;
  }

  &.hero__gradient_horizontal::after {
    opacity: .5;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    z-index: 2;
  }

  .field--name-field-background-image img,
  .hero_banner--img {
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
    border-radius: var(--wsBorderRadius, 20px);
    border: 1px solid #979797;
  }

  // AUDIO CONTROLS
  .hero_banner--audio-controls {
    background-color: rgba(#ffffff, .5);

    i,
    svg {
      font-size: 24px;
      width: 24px;
      height: auto;

      @media (min-width: 992px) {
        font-size: 36px;
      }

      &[class*="fa-volume"] {
        max-width: 50px;
      }
    }

    // Hide our play button
    &.is-playing #hero_banner--btn-play {
      display: none;
    }

    // Hide our pause button
    &:not(.is-playing) #hero_banner--btn-pause {
      display: none;
    }

    // Hide our mute button
    &.is-muted #hero_banner--btn-mute {
      display: none;
    }

    // Hide our mute button
    &:not(.is-muted) #hero_banner--btn-unmute {
      display: none;
    }
  }

  // YouTube Video
  .hero_banner-video,
  .hero_banner-image {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    max-width: 345px;
    max-height: 315px;
    margin: 30px auto 40px;
    padding: 0 15px;

    &.hero_banner-video {
      flex: 1 1 auto;
      width: 100%;
      height: 150px;

      @include media-breakpoint-up(md) {
        height: auto;
        position: relative;
      }
    }

    @include media-breakpoint-up(md) {
      height: auto;
      margin: 50px 55px 70px;
      max-height: 490px;
    }

    @include media-breakpoint-up(lg) {
      max-width: unset;
    }

    @include media-breakpoint-up(xl) {
      flex: 2 1;
      max-width: 780px;
    }

    .field--name-field-background-image .contextual-region {
      position: static;
    }

    .hero_banner-video--youtube-player-wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    video,
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .hero-banner-preloader {
    width: 60px;
    height: 60px;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);

    @include media-breakpoint-up(md) {
      left: calc(25vw - 30px);
    }

    svg {
      width: 60px;
      height: auto;
    }
  }
}
